@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* violet */
    --color-primary: 263.4 70% 50.4%;
    --color-zinc-800: 240, 3.7%, 15.88%;
    --color-zinc-200: 240 5.88% 90%;

    --background: 0 0% 100%;
    --foreground: var(--color-zinc-800);
    --card: 0 0% 100%;
    --card-foreground: var(--color-zinc-800);
    --popover: 0 0% 100%;
    --popover-foreground: var(--color-zinc-800);
    --primary: var(--color-primary);
    --primary-foreground: var(--color-zinc-200);
    --secondary: 240 4.8% 95.9%;

    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--color-zinc-200);
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: var(--color-primary);
    --radius: 0.5rem;
  }

  .dark {
    --color-primary: 263.4 70% 50.4%;
    --color-zinc-200: 240 5.88% 90%;

    --background: 240 10% 3.9%;
    --foreground: var(--color-zinc-200);
    --card: 240 10% 3.9%;
    --card-foreground: var(--color-zinc-200);
    --popover: 240 10% 3.9%;
    --popover-foreground: var(--color-zinc-200);
    --primary: var(--color-primary);
    --primary-foreground: var(--color-zinc-200);
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: var(--color-zinc-200);
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: var(--color-zinc-200);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--color-zinc-200);
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: var(--color-primary);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body,
  main {
    @apply text-zinc-800 dark:text-zinc-200;
  }

  header,
  footer {
    @apply bg-background;
  }

  main {
    @apply bg-zinc-100 dark:bg-zinc-900;
  }

  .bg_navigation {
    @apply bg-zinc-100/10 dark:bg-zinc-900/10 backdrop-blur-lg;
  }

  .bg_card {
    @apply bg-background dark:bg-zinc-800;
  }

  div[role='dialog']:focus-visible,
  div[role='dialog']:focus-visible:is(.dark) {
    @apply outline-0;
  }
}
